<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" style="font-size: 25px;" href="/">
      <i class="bi bi-shield-shaded"></i> <span> &nbsp;</span> Cyber Range
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div *ngIf="!isLoggedIn" class="navbar-item">
        <a class="button is-light me-3 " (click)="login()">Login</a>
        <a class="button is-light" (click)="register()">Register</a>
      </div>
      <div *ngIf="isLoggedIn" class="navbar-item">
        <p class="pe-3 " style="font-weight: 600;" (click)="home()">Home</p>
        <p class="pe-3">Hello, {{ username }}</p>

        <a class="button is-light" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</nav>