/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Urbanist', sans-serif;
  background-color: #121421	!important;
}

.secondarycolor{
    background-color: #B0B5C0;
}


.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.card-img-top-container {
  overflow: hidden;
}

.card-img-top {
  transition: transform 0.3s ease;
}

.card-hover:hover .card-img-top {
  transform: scale(1.05);
}